{% extends 'base.html' %}


{% block meta_desc %}{{ description }}{% endblock %}
{% block meta_keywords %}{{ keywords }}{% endblock %}

{% block title %}{{ h1 }} - Курс Python для SEO специалиста{% endblock %}

{% block main %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ h1 }}</h1>
          <span class="subheading">Блог о СЕО</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {% for article in articles %}
      <div class="post-preview">
        <a href="/article/{{article.slug}}">
          <h2 class="post-title">
            {{article.name}}
          </h2>
          <h3 class="post-subtitle">
            {{article.category}}
          </h3>
        </a>
      </div>
      <hr>
      {% endfor %}
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">На основную &rarr;</a>
      </div>
    </div>
  </div>
</div>
<hr>

<div align="center">
{% for p in pages %}
  <span><a href="/?page={{p}}">{{p}}</a></span>
{% endfor %}
</div>

{% endblock main %}